.btn-outline-primary {
  color: #248afd;
  border-color: #248afd;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #248afd;
  border-color: #248afd;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(36, 138, 253, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #248afd;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #248afd;
  border-color: #248afd;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(36, 138, 253, 0.5);
}

.btn-outline-secondary {
  color: #a3a4a5;
  border-color: #a3a4a5;
}

.btn-outline-secondary:hover {
  color: #212529;
  background-color: #a3a4a5;
  border-color: #a3a4a5;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(163, 164, 165, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #a3a4a5;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #212529;
  background-color: #a3a4a5;
  border-color: #a3a4a5;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(163, 164, 165, 0.5);
}

.btn-outline-success {
  color: #71c016;
  border-color: #71c016;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #71c016;
  border-color: #71c016;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(113, 192, 22, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #71c016;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #71c016;
  border-color: #71c016;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(113, 192, 22, 0.5);
}

.btn-outline-info {
  color: #68afff;
  border-color: #68afff;
}

.btn-outline-info:hover {
  color: #212529;
  background-color: #68afff;
  border-color: #68afff;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(104, 175, 255, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #68afff;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #212529;
  background-color: #68afff;
  border-color: #68afff;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(104, 175, 255, 0.5);
}

.btn-outline-warning {
  color: #f5a623;
  border-color: #f5a623;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #f5a623;
  border-color: #f5a623;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 166, 35, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #f5a623;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #f5a623;
  border-color: #f5a623;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 166, 35, 0.5);
}

.btn-outline-danger {
  color: #ff4747;
  border-color: #ff4747;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff4747;
  border-color: #ff4747;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 71, 71, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #ff4747;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff4747;
  border-color: #ff4747;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 71, 71, 0.5);
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
  color: #282f3a;
  border-color: #282f3a;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #282f3a;
  border-color: #282f3a;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 47, 58, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #282f3a;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #282f3a;
  border-color: #282f3a;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 47, 58, 0.5);
}

.btn-fw {
  background-color: white;
   opacity: 0.8;
}